{% extends "base.html" %}
{% block head_title %}Contact || {{ block.super }} {% endblock head_title %}
{% block content %}
<style type="text/css">
	#menu {
		  position: fixed;
		  right: 0;
		  top: 50%;
		  width: 8em;
		  margin-top: -2.5em;
}
</style>
<h1>Contact </h1>
{% include 'snippets\sidebar.html'  %}
<a href="mailto:cbicamina@gmail.com">Email us</a>



<div id=menu>
	<li><a href="#L384">Section 1</a>
	<li><a href="#details">Section 2</a>
	<li><a href="#FAQ">Section 3</a>
</div>

{% endblock %}