{% extends "base.html" %}
{% block head_title %}Logout || {{ block.super }} {% endblock head_title %}
{% block content %}

<br>
<br>
<!-- <div class="card bg-light mb-3" >
  <div class="card-header">>> Logout</div>
  <div class="card-body">
    <h5 class="card-title">"Nothing works better than just improving your product."</h5>
    <p class="card-text">Joel Spolsky</p>
  </div>
</div> -->
<br>
<br>
  <div class='container'>
    <div class='row'>
      <div class='col-3'>
      </div>
      <div class='col-6'>
        <div class="card">
          <div class="card-header">
          Logout
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Nothing works better than just improving your product.</p>
              <footer class="blockquote-footer">Joel Spolsky <cite title="Source Title">CEO and Co-founder Stock Overflow|LinkedIn</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class='col-3'>
      </div>
    </div>
  </div>
<!-- <div class="card text-white bg-warning mb-3">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">"Nothing works better than just improving your product."</h5>
    <p class="card-text">Joel Spolskey</p>
  </div>
</div>
 -->
<!-- {% include 'snippets\sidebar.html'  %} -->

{% endblock %}